<div class="container">
  <div class="row">
    <form [formGroup]="saleForm">
      Value: {{ saleForm.value | json }}

      <hr>

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Nome do Cliente" formControlName="name_client">
      </div>


      <div formArrayName="products">
        <div *ngFor="let phone of productsForm.controls; let i=index" [formGroupName]="i">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Preço" formControlName="price">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Quantidade" formControlName="quantity">
          </div>
          <button type="button" class="btn btn-danger" (click)="deleteProduct(i)">Remove</button>
        </div>
      </div>

      <button type="button" class="btn btn-primary" (click)="addProduct()">Adicionar Produto</button>
      <button type="submit" class="btn btn-success" (click)="onSubmit()">Enviar</button>

      {{ saleForm.valid | json }}
    </form>
  </div>
</div>
